.page {
	position: relative;
	min-height: 100%;
}

.page__body {
	min-width: 1200px;
	margin: 0;
	padding: 0 0 300px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #000;
}

.page__holder {
	width: 1200px;
	margin: 0 auto;
	/*padding: 0 12px;*/
	line-height: 1.2;
}

.page__header {
	min-width: 1200px;
	line-height: 1.2;
	background: linear-gradient(69deg, transparent 873px, #f0edf2 327px);
}

.page__header:after {
	content: '';
	display: block;
	max-width: 1920px;
	height: 349px;
	margin: -349px auto 0;
	background: url(../images/banners/main-banner.png) center top no-repeat, #dedede;
}

.page__intro {
	position: relative;
}

.page__gallery {
	padding: 28px 0 0;
}

.page__about {
	padding: 27px 0 28px;
}

.page__facts {
	position: relative;
	min-width: 1200px;
	margin: 0 auto;
	background: linear-gradient(to left, #fff, #ebe8e6);
	overflow: hidden;
}

.page__facts:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 4000px;
	height: 495px;
	-webkit-transform: skewx(21deg) translatex(40px);
	transform: skewx(21deg) translatex(40px);
	background: #ebe8ec;
	z-index: 0;
}

.page__slider {
	position: relative;
	padding: 48px 0 65px;
}

.page__feedback {
	position: relative;
	min-width: 1200px;
	height: 326px;
	margin: 0 auto;
	overflow: hidden;
	background: url(../images/banners/feedback-banner.png) center -276px no-repeat, #4e2b4b;
}

.page__feedback:before {
	position: absolute;
	left: 50%;
	content: '';
	display: block;
	width: 500px;
	height: 326px;
	-webkit-transform: translate(327px);
	-transform: translate(327px);
	background: url(../images/feedback-banner-figure.png) no-repeat;
}

.page__entry {
	padding: 46px 0 0;
}

.page__postscript {
	padding: 35px 0 0;
}

.page__footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 1200px;
	height: 279px;
	line-height: 1.2;
	background: url(../images/Banners/footer-background.png) center -431px no-repeat, #4e2b4b;
}


.button {
	display: block;
	text-align: center;
	width: 147px;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: 31px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.button--type_primary {
	background: #96af4c;
}

.button--type_secondary {
	background: #8a5689;
}

.button--type_hollow {
	width: 143px;
	line-height: 27px;
	color: #d80a56;
	border: 2px solid #8a5689;
	background: transparent;
}

.button--type_transparent {
	position: relative;
	width: 125px;
	font-size: 15px;
	line-height: 56px;
	color: #fff;
	z-index: 1;
}

.button--type_shadowed {
	text-shadow: 0 2px 3px #222;
}

.button--short {
	width: 144px;
}

.button--long {
	width: 269px;
}

.button--underline {
	text-decoration: underline;
}

.button--non-caps {
	text-transform: none;
}


.link--type_primary {
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #000;
	letter-spacing: 0.3;
	text-decoration: none;
	text-transform: none;
}

.link--type_primary:hover {
	color: #96af4c;
	text-decoration: underline;
}

.link--type_secondary {
	font-size: 14px;
	text-transform: uppercase;
	color: #96af4c;
	text-decoration: underline;
}

.link--type_simple {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	text-decoration: underline;
}


.header {
	height: 121px;
	font-size: 0;
}

.header__logo {
	display: inline-block;
	width: 168px;
	height: 88px;
	padding: 16px 0 0 6px;
}

.header__nav {
	display: inline-block;
	vertical-align: top;
	width: 561px;
	padding: 54px 0 0 56px;
}

.header__contacts {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	padding: 11px 0 0 71px;
}

.header__controls {
	display: inline-block;
	vertical-align: top;
	padding: 24px 0 0 25px;
	margin: 0;
}

.header__controls-item:first-child {
	margin: 0 0 13px;
}


.contacts__email,
.contacts__phone-number {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #4e2b4b;
	text-decoration: none;
}

.contacts__item {
	padding: 11px 0 0;
}


.nav {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.nav__item {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 43px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	text-transform: uppercase;
}

.nav__item:first-child {
	margin-left: 0;
}

.nav__item--type_parent {
	margin-left: 36px;
}

.nav__item--type_parent > .nav__link {
	padding: 0 14px 0 0;
}

.nav__item--type_parent > .nav__link:before {
	content: '';
	display: none;
	position: absolute;
	top: 50px;
	left: 30%;
	width: 23px;
	height: 23px;
	border-top: 2px solid #c6c6c6;
	border-left: 2px solid #c6c6c6;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #fff;
	z-index: 10;
}

.nav__item--type_parent > .nav__link:after {
	display: inline-block;
	position: absolute;
	top: 25%;
	right: 0;
	content: '';
	width: 6px;
	height: 6px;
	margin: 0 0 0 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-right: 1px solid #90c578;
	border-bottom: 1px solid #90c578;
}

.nav__item:hover > .nav__link:before,
.nav__item:hover > .nav__submenu {
	display: block;
}

.nav__link {
	position: relative;
	text-decoration: none;
	color: #8a5689;
}

.nav__submenu {
	display: none;
	position: absolute;
	top: 70px;
	left: 50%;
	padding: 46px 0 0;
	-webkit-transform: translatex(-600px);
	transform: translatex(-600px);
	z-index: 9;
}


.submenu {
	width: 1116px;
	height: 340px;
	padding: 30px 40px;
	font-size: 0;
	border: 2px solid #c6c6c6;
	background: #fff;
}

.submenu__about-list {
	display: inline-block;
	vertical-align: top;
	padding: 6px 0 0 15px;
}

.submenu__gallery {
	position: absolute;
	right: 40px;
	display: inline-block;
	font-size: 0;
}

.submenu__gallery-item {
	display: inline-block;
	margin: 0 0 0 24px;
}

.submenu__gallery-item:first-child {
	margin-left: 0;
}

.submenu__gallery-image {
	width: 270px;
	height: 270px;
}

.submenu__table {
	display: inline-block;
	vertical-align: top;
	padding: 21px 0 0 6px;
}

.submenu__service-list {
	display: inline-block;
	vertical-align: top;
	width: 241px;
	padding: 6px 0 0 65px;
}

.submenu__banner {
	position: relative;
	display: inline-block;
	width: 270px;
	height: 270px;
	margin: 0 0 0 54px;
	background: url(../images/banners/submenu_banner.png) -155px -8px no-repeat;
}

.submenu__banner-link {
	position: absolute;
	bottom: 0;
	display: block;
	text-align: center;
	width: 246px;
	height: 64px;
	padding: 11px 12px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1;
	color: #fff;
	text-decoration: none;
	text-transform: none;
	background: url(../images/submenu_banner-figure.png) -11px 0 no-repeat, rgba(138,87,137,0.89);
}

.submenu__banner-link > .span {
	font-size: 18px;
}

.submenu__controls {
	position: absolute;
	bottom: 34px;
	right: 40px;
	font-size: 0;
}

.submenu__controls-item {
	display: inline-block;
	margin: 0 0 0 25px;
}

.submenu__controls-item:first-child {
	margin-left: 0;
}


.table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

.table__row:nth-child(2) > .table__cell {
	padding-top: 25px;
	border-top: 1px solid #ddd;
}

.table__header {
	position: absolute;
	top: 36px;
	left: 48px;
	text-align: left;
	padding: 0;
	font-family: 'Robot Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #8a5689;
}

.table__header > .span {
	padding: 0 13px 0 0;
	background: #fff;
}

.table__cell {
	width: 240px;
	padding: 10px 0 10px;
}

.table__cell:nth-child(2) {
	padding-left: 10px;
	width: 230px;
}


.list {
	padding: 0;
	margin: 0;
	list-style: 0;
}

.list__title {
	padding: 0 0 18px;
	margin: 0;
	font-family: 'Robot Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #8a5689;
	list-style: none;
}

.list__item {
	padding: 22px 0 0;
	margin: 0;
}

.list__item:nth-child(2) {
	padding-top: 0;
}


.intro {
	position: relative;
	overflow: hidden;
}


.intro__title,
.intro__content {
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	z-index: 1;
}

.intro__title {
	margin: 0 0 0 -8px;
	padding: 128px 0 0;
	font-size: 40px;
	letter-spacing: 1.6;
}

.intro__content {
	margin: 0 0 0 -6px;
	padding: 13px 0 0;
	font-size: 24px;
	letter-spacing: 2.8;
}

.intro__wrapper:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 50%;
	width: 206px;
	height: 294px;
	-webkit-transform: skewX(17deg) translatex(-230px);
	transform: skewX(17deg) translatex(-230px);
	background: rgba(150,175,76,0.89);
	z-index: 0;
}

.intro__wrapper:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 50%;
	height: 267px;
	width: 9000px;
	-webkit-transform: skew(17deg) translatex(-347px);
	transform: skew(17deg) translatex(-347px);
	background: rgba(138,86,137,0.89);
}

.intro__button {
	width: 125px;
	height: 55px;
	padding: 77px 0 0 291px;
}

.intro__button:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 140px;
	height: 55px;
	-webkit-transform: skewX(17deg) translatex(-176px);
	transform: skewX(17deg) translatex(-176px);
	background: #4e2b4b;
	z-index: 0;
}


.gallery {
	font-size: 0;
}

.gallery__item {
	position: relative;
	display: inline-block;
	width: 384px;
	padding: 0 0 5px;
	margin: 0 0 0 24px;
	border-bottom: 2px solid #d80258;
	overflow: hidden;
}

.gallery__item:first-child {
	margin-left: 0;
}

.gallery__item:nth-child(1):before {
	content: '';
	position: absolute;
	top: 0;
	right: -42px;
	display: block;
	width: 100px;
	height: 161px;
	-webkit-transform: skewx(19deg);
	transform: skewx(19deg);
	background: rgba(78,43,75,0.6);
}

.gallery__item:nth-child(2):before {
	content: '';
	position: absolute;
	top: 0;
	left: -42px;
	display: block;
	width: 100px;
	height: 161px;
	-webkit-transform: skewx(19deg);
	transform: skewx(19deg);
	background: rgba(78,43,75,0.6);
}

.gallery__item:nth-child(3):before {
	content: '';
	position: absolute;
	top: 0;
	right: -39px;
	display: block;
	width: 100px;
	height: 161px;
	-webkit-transform: skewx(19deg);
	transform: skewx(19deg);
	background: rgba(150,175,76,0.6);
}


.gallery__image {
	width: 384px;
	height: 161px;
	overflow: hidden;
	background: #000;
}

.gallery__description {
	position: absolute;
	top: 40px;
	left: 0;
	text-align: center;
	width: 386px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	letter-spacing: 0.5;
	text-shadow: 0 2px 2px #000;
	color: #fff;
	text-transform: uppercase;
}

.gallery__button {
	position: absolute;
	bottom: 32px;
	left: 50%;
	-webkit-transform: translatex(-72px);
	transform: translatex(-72px);
}

.about__title {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 23px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1.5;
	text-transform: uppercase;
	color: #96af4c;
}

.about__content {
	text-align: center;
	padding: 14px 0 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.2;
	color: #000;
}


.facts {
	position: relative;
	z-index: 2;
}

.facts__title {
	text-align: center;
	padding: 33px 0 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1;
	text-transform: uppercase;
	color: #4e2b4b;
}

.facts__content {
	padding: 44px 0 0;
	font-size: 0;
}

.facts__item {
	vertical-align: top;
	display: inline-block;
	width: 384px;
	height: 161px;
	margin: 0 0 34px 24px;
	font-size: 0;
}

.facts__item:nth-child(3n-2) {
	margin-left: 0;
}

.facts__icon {
	vertical-align: top;
	display: inline-block;
	float: left;
	padding: 15px;
	margin: 1px 18px 0 0;
	border-radius: 50%;
	background: #96af4c;
}

.icon {
	width: 90px;
	height: 90px;
}

.facts__item-title {
	display: inline-block;
	padding: 15px 0 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	text-transform: uppercase;
	color: #3f3f3f;
}

.facts__item-content {
	display: inline-block;
	width: 236px;
	padding: 23px 0 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	color: #111011;
}


.slider__title {
	text-align: center;
	position: absolute;
	top: 35px;
	left: 50%;
	display: block;
	width: 406px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1;
	text-transform: uppercase;
	color: #4e2b4b;
	-webkit-transform: translatex(-203px);
	transform: translatex(-203px);
	background: #fff;
}

.slider__content {
	padding: 43px 0 0;
	font-size: 0;
	border-top: 2px solid #dad9da;
}

.slider__item-wrapper {
	display: inline-block;
	width: 202px;
	height: 325px;
	padding: 1px 3px 4px 1px;
	margin: 0 40px;
	background: #eee;
}

.slider__item {
	width: 188px;
	height: 311px;
	padding: 3px;
	border: 2px solid #ddd;
	border-radius: 4px;
	box-shadow: 4px 4px 5px #aaa;
	background: #fff;
}


.feedback {
	position: relative;
	padding: 47px 0 0;
}

.feedback__title {
	position: absolute;
	top: 33px;
	left: 50%;
	text-align: center;
	display: block;
	width: 124px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1.2;
	text-transform: uppercase;
	color: #fff;
	-webkit-transform: translateX(-62px);
	transform: translateX(-62px);
	background: transparent;
}

.feedback__title:before {
	position: absolute;
	top: 14px;
	left: -538px;
	content: '';
	display: block;
	width: 538px;
	height: 2px;
	background: #ccc4ca;
}

.feedback__title:after {
	position: absolute;
	top: 14px;
	right: -538px;
	content: '';
	display: block;
	width: 538px;
	height: 2px;
	background: #ccc4ca;
}

.feedback__slider {
	padding: 51px 0 0;
}

.feedback__slider-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 21px;
}

.feedback__icon {
	display: inline-block;
	vertical-align: top;
	width: 79px;
	height: 79px;
	margin: 0 23px 0 0;
	border-radius: 50%;
}

.feedback__content {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 424px;
	height: 129px;
	padding: 18px 21px 0 19px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #000;
	background: #fff;
}

.feedback__content:before {
	position: absolute;
	top: 35px;
	left: -10px;
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #fff;
}

.feedback__user {
	position: absolute;
	left: 19px;
	bottom: 15px;
	font-family: 'Roboto Condensed',sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	color: #d80a58;
}

.feedback__button {
	position: absolute;
	right: 0;
	width: 125px;
}


.entry {
	position: relative;
	padding: 51px 0 9px;
	font-size: 0;
	border-bottom: 3px solid #dad9da;
}

.entry__title {
	text-align: center;
	position: absolute;
	top: -12px;
	left: 50%;
	display: block;
	width: 264px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1;
	text-transform: uppercase;
	color: #4e2b4b;
	-webkit-transform: translatex(-132px);
	transform: translatex(-132px);
}

.entry__title:before {
	position: absolute;
	top: 12px;
	left: -468px;
	content: '';
	display: block;
	width: 468px;
	height: 2px;
	background: #dad9da;
}

.entry__title:after {
	position: absolute;
	top: 12px;
	right: -468px;
	content: '';
	display: block;
	width: 468px;
	height: 2px;
	background: #dad9da;
}

.entry__item {
	display: inline-block;
	vertical-align:; top;
	width: 588px;
	height: 179px;
	padding: 0 0 0 23px;
	font-size: 0px;
}

.entry__item:nth-child(2n-1) {
	padding-left: 0;
}

.entry__image {
	float: left;
	margin: 0 19px 0 0;
}

.entry__date {
	display: inline-block;
	width: 76px;
	padding: 6px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	font-weight: 400;
	font-style: normal;
	line-height: 11px;
	color: #fff;
	background: #d80a58;
}

.entry__item-title {
	display: inline-block;
	width: 435px;
	padding: 8px 0 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	text-transform: uppercase;
	color: #8a5689;
}

.entry__content {
	display: inline-block;
	width: 433px;
	padding: 10px 0 0 2px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 18px;
	color: #000;
}

.entry__button {
	display: inline-block;
	width: 433px;
	padding: 11px 0 0 2px;
}


.panel {
	padding: 0 0 36px;
	border-bottom: 3px solid #dedede;
}

.panel__title {
	text-align: center;
	padding: 23px 0 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1;
	text-transform: uppercase;
	color: #4e2b4b;
}

.panel__content {
	text-align: center;
	padding: 20px 0 0;
	font-size: 0;
}

.panel__item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 100px;
	height: 80px;
	margin: 0 0 0 70px;
}

.panel__item:nth-child(5n-4) {
	margin-left: 0;
}

.panel__image {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.postscript__title {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 1.1;
	text-transform: uppercase;
	color: #96af4c;
}

.postscript__content {
	padding: 26px 0 0;
}

.postscript__paragraph {
	padding: 20px 0 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	color: #000;
}

.postscript__paragraph:first-child {
	padding-top: 0;
}


.footer {
	position: relative;
	padding: 24px 0 0;
	font-size: 0;
}

.footer__form {
	display: inline-block;
	vertical-align: top;
	width: 384px;
}

.footer__table {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 51px;
}

.footer__list {
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 88px;
}

.footer__address {
	position: absolute;
	top: 167px;
	left: 918px;
}


.form__title {
	padding: 0 0 24px;
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.9;
	text-transform: uppercase;
	color: #fff;
}

.form__title:after {
	position: absolute;
	top: 34px;
	left: 1px;
	content: '';
	display: block;
	width: 78px;
	height: 2px;
	background: #86c06b;
}

.form__content {
	font-size: 0;
}

.form__name,
.form__email {
	display: inline-block;
	width: 180px;
	padding: 0 0 9px;
	margin: 0 0 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.2;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}

.form__email {
	margin-left: 24px;
}

.form__message {
	vertical-align: top;
	display: block;
	min-width: 384px;
	min-height: 100px;
	padding: 8px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.2;
	color: #fff;
	border: 1px solid #fff;
	background: transparent;
}

.form__button {
	text-align: center;
	display: block;
	width: 113px;
	margin: 13px 0 0 272px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: 23px;
	text-transform: uppercase;
	color: #000;
	background: #96af4c;
	border: none;
}

.form__name:focus,
.form__email:focus,
.form__message:focus,
.form__button:focus {
	outline: none;
}

.form__name::-webkit-input-placeholder,
.form__email::-webkit-input-placeholder,
.form__message::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.2;
	color: #fff;
}

.form__name::-moz-placeholder,
.form__email::-moz-placeholder,
.form__message::-moz-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.2;
	color: #fff;
	opacity: 1;
}

.form__name:-ms-input-placeholder,
.form__email:-ms-input-placeholder,
.form__message:-ms-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 1.2;
	color: #fff;
}


.f-table {
	width: 396px;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

.f-table__row {
	padding: 0;
	margin: 0;
}

.f-table__title {
	position: relative;
	text-align: left;
	padding: 0 0 11px;
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.9;
	text-transform: uppercase;
	color: #fff;
}

.f-table__title:after {
	position: absolute;
	top: 34px;
	left: 1px;
	content: '';
	display: block;
	width: 396px;
	height: 2px;
	background: #86c06b;
}

.f-table__cell {
	padding: 22px 0 0 2px;
	margin: 0;
}

.f-table__cell:nth-child(2n-1) {
	width: 224px;
}


.f-list {
	padding: 0;
	margin: 0;
}

.f-list__title {
	position: relative;
	text-align: left;
	padding: 0 0 28px 1px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 0.5;
	text-transform: uppercase;
	color: #fff;
}

.f-list__title:after {
	position: absolute;
	top: 34px;
	left: 0;
	content: '';
	display: block;
	width: 78px;
	height: 2px;
	background: #86c06b;
}

.f-list__content {
	padding: 0;
	margin: 0;
	list-style: none;
}

.f-list__item {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 22px;
	letter-spacing: 0.6;
	color: #fff;
}

.f-list__item > .span {
	font-size: 18px;
}


.address {
	width: 285px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: normal;
	line-height: 15px;
	letter-spacing: 0.7;
	color: #fff;
}

